<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
<meta
  name="description"
  content="Headed West is a full-service smoke shop located in Englewood, Colorado that specializes in vaporizers, glass pipes, detox &amp; more!"
/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="Denver&#039;s Premier Smoke Shop &amp; Head Shop | Headed West"
/>
<meta
  property="og:description"
  content="Headed West is a full-service smoke shop located in Englewood, Colorado that specializes in vaporizers, glass pipes, detox &amp; more!"
/>
<meta property="og:url" content="https://new.theheadedwest.com/" />
<meta property="og:site_name" content="Headed West" />
<meta property="og:image" content="https://new.theheadedwest.com/Headed-West-Background.jpg" />
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Open+Sans:wght@400;600&display=swap"
  rel="stylesheet"
/>
<link rel="icon" href="/icon.png" sizes="32x32"/>
<link rel="icon" href="/icon.png" sizes="192x192"/>
{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html" . }}
